<h1>Tasks List</h1>

<ul>
  <% @tasks.each do |task| %>
    <li> <%= task.title %> - <%= task.details %> - <%= task.completed %></li>
    <%= link_to task.title, task_path(task) %>
    <br>
    <br>
  <% end %>
</ul>

<%= link_to "Create Task", tasks_new_path(@task) %>
