<h1>View Tasks List</h1>

<%= @task.title %>
<%= @task.details %>
<%= @task.completed %>

<br>
<%= link_to "Back to task list", tasks_path %>

<br>
<%= link_to "Edit the task", edit_task_path(@task) %>

<br>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
